
.mapContainer {
	height:400px;
}


.mapAddressPadding {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:30px;
}

.mapAddressText {
	font-family: 'Roboto Slab', serif;
}

.mapHeadingContainer {
	display: inline-block;
	text-align: center;
	width:100%;
	padding-top:30px;
	padding-bottom: 30px
}

.mapHeadingContainer-phonescreen {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mapHeadingWrapper {
	display:flex;
	justify-content:center;
}

.mapHeading {
	padding-top:30px;
	width: 250px;
	font-family: 'Josefin Slab', serif;
	border: 1.5px solid black;
    padding: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}