.backToTopButton {
	height: 80px;
	width: 80px;
	border: 1px dashed black;
	background: rgba(255,255,255,0.5);
	border-radius: 50%;
	font-size: 20px;
	font-family: 'Josefin Slab', serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}


@media (min-width: 801px) {
	.backToTopButtonPosition {
			position: fixed;
			bottom:5px;
			left: 47.6%;
	}
}

@media (min-width: 401px) and (max-width: 800px) {
	.backToTopButtonPosition {
			position: fixed;
			bottom:5px;
			left: 43.5%;
	}
}

@media (max-width: 400px) {
	.backToTopButtonPosition {
			position: fixed;
			bottom:5px;
			left: 39%;
	}
}

.backToTopButton:focus {
    outline: 0;
    box-shadow: none!important;
}