.contactForm-textarea:focus, .contactFormInput:focus, .alignContactInputs:focus{
  outline: none;
  background-color:rgba(255,255,255,0.8);
}

.contactFormBackground {
	width: 100%;
	padding-bottom:200px;
	background-image:url("/static/bgimg6.jpg");
	background-size:cover;
}

.contactFormAlign {
	display:flex; 
	justify-content: center;
}

.contactFormContainer {
	margin-top:100px;
}

@media (min-width: 951px) {
	.contactFormContainerWidth {
		width:50%;
	}
}

@media (max-width: 950px) {
	.contactFormContainerWidth{
		width:90%;
	}
}


.contactFormHeading {
	display:flex;
	justify-content: center;
	padding-top:30px;
	padding-bottom:30px;
	color:white;
	font-family: 'Josefin Slab', serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.alignContactInputs {
	display:flex;
	justify-content:center;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.contactLabelContainer {
	color: white;
	margin-left:25%;
}

.contactInputWrapper {
	margin:5px;
	height: 40px;
	display:flex;
	align-items:center;
	background:transparent;
	width:100%;
}

.contactFormInput {
	width: 100%;
	height:100%;
	border:none;
	padding-left: 10px;
	font-family: 'Roboto Slab', serif;
}

.contactFormErrorClass {
	border: 1px solid rgba(200,0,0,0.8);
	background-color: rgba(255,240,244, 0.9);
}

.textareaWrapper {
	width:100%;
	margin:5px;
	height: 200px;
	display:flex;
	align-items:flex-start;
	background:transparent;
}

.effect1 {border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}

.effect1 ~ .focusBorder{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;}
.effect1:focus ~ .focusBorder{width: 100%; transition: 0.4s;}

.contactFormTextarea {
	height:100%;
	width: 100%;
	border:none;
	padding-left:10px;
	font-family: 'Roboto Slab', serif;	
	resize:none;
}

.contactSubmitButton {
	margin-top:50px;
	font-family: 'Josefin Slab', serif;
	background-color: Transparent;
  background-repeat:no-repeat;
	width: 300px;
	height:100px;
	border:2px solid white;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:30px;
	color:white;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
	transform: scale(1);
	transition: transform .25s ease;
}

.contactSubmitButton:hover {
	transform: scale(1.05);
	transition: transform .25s ease-out;
}

.spinnerWrapper {
	display:flex;
	justify-content:center;
	align-items: center;
	margin-top: 60px;
}

.contactSpinnerTxt {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	margin-top: 15px;
	font-size:120%;
}

.websiteBy {
	position: fixed;
	bottom: 0px;
	left: 0px;
	color: white;
	font-size: 10px;
}

