.service-card-container {
	margin-bottom: 150px;
}

.service-heading-container {
	display:flex;
	justify-content:center;
	font-family: 'Josefin Slab', serif;
	margin-bottom: 40px;
	margin-top: 100px;
}

.service-heading {
	border: 1.5px solid black;
	padding: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.service-asset-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.circle {
	margin-top: 30px;
	margin-bottom:30px;
  height: 200px;
  border-radius:50%;
  width: 200px;
	background-size:cover;
	background-position: center;
}

.denture-img {
	background-image:url("/static/DenturesService2.jpg");
}

.repairs-img {
	background-image:url("/static/RepairsService2.jpg");	
}

.mouthguard-img {
	background-image:url("/static/MouthguardService2.jpg");	
}