.nav-bar-style {
	display:flex;
	flex-direction: row;
	justify-content:center;
	width: 100%;
  padding-top:20px;
	height: 100px;
	font-family: 'Quicksand', sans-serif;
}

.nav-bar-head {
  display:flex;
  align-items: center;
  cursor:pointer;
  font-family: 'Josefin Slab', serif;
  border: 2px solid black;
  padding-left:15px;
  padding-right:15px;
}

.navbar-action {
  color: black;
}

.align-nav-items {
	display:flex;
	width:100%;
	justify-content: space-around;
	align-items:center;
	list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item-style {
	padding-left: 10px;
	padding-right:10px;
}

.nav-item-main {
	font-size:200%;
}

.nav-contact-bar {
  display:flex;
  justify-content: center;
  background-color: black;
  color:white;
  font-family: 'Roboto Slab', serif;
}

.contact-bar-text {
  margin-left: 30px;
}

@import url("https://fonts.googleapis.com/css?family=Raleway");
.all {
  box-sizing: border-box;
}

.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
.button.type1 {
  color: #566473;
}
.button.type1.type1::after, .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #566473;
  border-right-color: #566473;
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #566473;
  border-left-color: #566473;
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}
.button.type2 {
  color: #566473;
}
.button.type2.type2:after, .button.type2.type2:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #566473;
  transition: all 0.3s ease;
  transform: scale(0.85);
}
.button.type2.type2:hover:before {
  top: 0;
  transform: scale(1);
}
.button.type2.type2:hover:after {
  transform: scale(1);
}
.button.type3 {
  color: #435a6b;
}
.button.type3.type3::after, .button.type3.type3::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type3.type3::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #435a6b;
  border-right-color: #435a6b;
}
.button.type3.type3::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #435a6b;
  border-left-color: #435a6b;
}
.button.type3.type3:hover:after, .button.type3.type3:hover:before {
  border-bottom-color: #435a6b;
  border-right-color: #435a6b;
  border-top-color: #435a6b;
  border-left-color: #435a6b;
  width: 100%;
  height: 100%;
}

@media (max-width: 1250px) {
  .nav-logo-text {
    font-size: 150%;
  }
} 