.bookingCardMargin {
    margin-top:150px;
    margin-bottom:150px;
}

.bookingText {
	font-family: 'Roboto Slab', serif;
	margin-bottom:20px;
	padding-left:60px;
	padding-right:60px;
}

.bookingCardContainer {
	font-family: 'Quicksand', sans-serif;
	height: 850px; 
	margin:0px;
}

.bookingCardHeadContainer {
	font-family: 'Quicksand', sans-serif;
	display:flex;
	justify-content:center;
	padding-bottom:20px;
}

.bookingHeading {
	font-family: 'Josefin Slab', serif;
	border: 1.5px solid black;
	padding: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.calendlyContainer {
	margin:0px;
	display:flex;
	flex-direction: column;
	align-items:center;
	height:100%;
}

.bookingFormHeading {
	padding-bottom: 30px;
}

.bookingCopyContainer {
	height: 30%;
}

.correctMargin {
	margin:0px;
}

