.cardContainer {
	height: 541px;
	display:flex;
	justify-content:center;
	align-items:center;
}

@media (min-width: 993px) {

  .phraseContainer {
		position:absolute;
        right:120px;
        top: 60px;
		display:flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color:rgba(255,255,255,0.5);
	}
}

@media (max-width: 992px) {
  .phraseContainer {
		display:flex;
		flex-direction: column;
        justify-content: space-around;
        height: 100%;
		align-items: center;
		background-color:rgba(255,255,255,0.5);
	}
}



.mobileScreenBannerText {
	display: block;
	width: 100%;
	font-size: 4.4vw;
}

.staffCardPText {
	font-family: 'Roboto Slab', serif;
}


.bannerText {
	margin-top:40px;
	padding:30px;
	font-family: 'Quicksand', sans-serif;
	font-size:150%;
	margin-left:50px;
	margin-right:50px;
}

.landingImageContainer {
	background-image:url("/static/dsa_opt.jpg");
	background-size:cover;
    background-position: center;
    height: 100%;
}

.customActionTag {
	color:white;
	font-weight:underline;
}

.customActionTag:hover {
	color:yellow;
}

.bookingButton {
	margin-top:40px;	
	--offset: 10px;
	--border-size: 2px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	display: block;
	position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: transparent;
	color: black;
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	margin-bottom:70px;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: background .8s ease;
	
	&:hover {
		background: rgba(255, 255, 255, .03);
	}
	
	&__horizontal,
	&__vertical {
		position: absolute;
		top: var(--horizontal-offset, 0);
		right: var(--vertical-offset, 0);
		bottom: var(--horizontal-offset, 0);
		left: var(--vertical-offset, 0);
		transition: transform .8s ease;
		will-change: transform;
		
		&::before {
			content: '';
			position: absolute;
			border: inherit;
		}
	}
	
	&__horizontal {
		--vertical-offset: calc(var(--offset) * -1);
		border-top: var(--border-size) solid currentcolor;
		border-bottom: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--vertical-offset) - var(--border-size));
			bottom: calc(var(--vertical-offset) - var(--border-size));
			left: calc(var(--vertical-offset) * -1);
			right: calc(var(--vertical-offset) * -1);
		}
	}
	
	&:hover &__horizontal {
		transform: scaleX(0);
	}
	
	&__vertical {
		--horizontal-offset: calc(var(--offset) * -1);
		border-left: var(--border-size) solid currentcolor;
		border-right: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--horizontal-offset) * -1);
			bottom: calc(var(--horizontal-offset) * -1);
			left: calc(var(--horizontal-offset) - var(--border-size));
			right: calc(var(--horizontal-offset) - var(--border-size));
		}
	}
	
	&:hover &__vertical {
		transform: scaleY(0);
	}
	
}

.bookingButton:focus {outline:0;}
